<!DOCTYPE html>
<html>
<head>
    <title>Liver Cirrhosis Prediction</title>
</head>
<body>
    <h2>Enter Patient Details</h2>
    <form action="/predict" method="post">
    <label>Age:</label>
    <input type="text" name="age" required><br><br>

    <label>Gender:</label>
    <input type="text" name="gender" required><br><br>

    <label>Alcohol Consumption:</label>
    <input type="text" name="alcohol" required><br><br>

    <label>Hepatitis B:</label>
    <input type="text" name="hep_b" required><br><br>

    <label>Hepatitis C:</label>
    <input type="text" name="hep_c" required><br><br>

    <label>Diabetes:</label>
    <input type="text" name="diabetes" required><br><br>

    <label>Obesity:</label>
    <input type="text" name="obesity" required><br><br>

    <label>LDL:</label>
    <input type="text" name="ldl" required><br><br>

    <label>HDL:</label>
    <input type="text" name="hdl" required><br><br>

    <label>TG:</label>
    <input type="text" name="tg" required><br><br>

    <label>TCH:</label>
    <input type="text" name="tch" required><br><br>

    <input type="submit" value="Predict">
</form>


</body>
</html>
